<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Simula Investir - Calculadora de Juros Compostos</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1616825946807993" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Calculadora de Juros Compostos</h1>
    <form id="form">
        Valor Inicial: <input type="number" name="valor_inicial"><br>
        Aporte Mensal: <input type="number" name="aporte_mensal"><br>
        Taxa de Juros (%): <input type="number" name="taxa_juros"><br>
        Tempo: <input type="number" name="tempo"><br>
        <select id="periodo" name="periodo">
            <option value="meses">Meses</option>
            <option value="anos">Anos</option>
        </select><br>
        <button type="submit">Calcular</button>
    </form>
    <div id="resultado"></div>
    <script src="/static/js/main.js"></script>
</body>
</html>